.btn {
  padding: 10px 15px;
  color: #fffafa;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 37%;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-family: "Bigelow Rules", cursive;
  font-size: 4rem;
  cursor: pointer;
  border-bottom: 1px solid #ffe227;
  border-right: 1px solid #ffe227;
  outline: none;
  border-radius: 5px;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #ffe227 50%
  );
  background-size: 225%;
  transition: all 0.2s ease;

  &:hover,
  &:active {
    background-position: 100%;
    transform: translateX(1rem);
    color: #000000;
    transform: scale(1.2);
  }
}

@media (max-width: 1500px) {
  .btn {
    font-size: 3.3rem;
  }
}

@media (max-width: 984px) {
  .btn {
    font-size: 2.9rem;
  }
}

@media (max-width: 608px) {
  .btn {
    font-size: 2.4rem;
  }
}

@media (max-width: 357px) {
  .btn {
    font-size: 2rem;
  }
}
